@charset "utf-8";

// Update some of Bulma's component variables
$card-content-padding: 0.75rem;
$column-gap: 0.5rem;
$modal-card-head-padding: 0.75rem;
$modal-card-body-padding: 0.75rem;
$navbar-breakpoint: 0;
$tabs-link-padding: 0.5em;

// Import only what we need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/media.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/helpers/_all.sass";

// Update and extend the Bulma card component
.card {
  @include block(0.5rem);
  .title, .subtitle {
    color: inherit;
  }
}
@import "card-footer-colors.sass";

// Override some modal component settings
.modal-card-title {
  font-weight: 500;
}
.modal-card-foot {
  justify-content: center;
}

// Some cursor helper classes
.is-draggable {
  cursor: grab !important;
}
.is-dragged {
  cursor: grabbing !important;
}
.is-movable {
  cursor: move !important;
}
