#hex {
    fill: gray;
    fill-opacity: 0.02;
    stroke: gray;
    stroke-width: 0.4;
}
#hex:hover {
    fill: #444;
    fill-opacity: 0.06;
}
#grid .label {
    fill-opacity: 0.6;
}
#selected {
    fill: white;
    fill-opacity: 0.02;
    stroke: #3273dc;
    stroke-width: 1.2;
}
#selected-menu .button {
    font-size: .55rem;
}
#active {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
}
.is-hidden {
    display: none;
}
