.label {
    font-family: Overpass, sans-serif;
    font-size: 14px;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
    fill: hsl(0, 0%, 30%);
    paint-order: stroke;
    stroke: white;
    stroke-width: 2.0;
    dominant-baseline: middle;
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
}
.pacenote {
    font-family: Caveat, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    fill: hsl(0, 0%, 70%);
    paint-order: stroke;
    stroke: hsl(0, 0%, 10%);
    stroke-width: 2.0;
    dominant-baseline: middle;
    text-anchor: middle;
    user-select: none;
    pointer-events: none;
}
.danger-level-low .pacenote {
    fill: hsl(60, 100%, 42%);
}
.danger-level-medium .pacenote {
    fill: hsl(40, 100%, 45%);
}
.danger-level-high .pacenote {
    fill: hsl(10, 100%, 45%);
}
