AddType application/wasm .wasm
AddType font/woff .woff

# cache fonts and images
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType font/woff "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
</IfModule>

# compress text and data files
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/wasm
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/woff
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
</IfModule>

# reduce information exchange with external sites
<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src data: 'self' 'unsafe-inline';"
  Header set Referrer-Policy same-origin
  Header set X-Frame-Options "deny"
</IfModule>
